@model WebUniversity.ViewModels.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Вхід</title>
        <link rel="stylesheet" href="~/css/login.css" />
    </head>
    <body>
        <div class="Login-form">
            <h1>Authorization</h1>
            @using (Html.BeginForm("TryLog", "Home", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(m => m.Login, "Логін:")
            @Html.TextBoxFor(m => m.Login, new { @class = "text-input", required = "required" })
            @Html.ValidationMessageFor(m => m.Login)
        </div>

        <div>
            @Html.LabelFor(m => m.Password, "Пароль:")
            @Html.TextBoxFor(m => m.Password, new { @class = "text-input", required = "required", type = "password" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div>
            <input class="submit-button" type="submit" value="Ввійти">
        </div>
    }
        </div>
</body>
</html>