@using WebUniversity.ViewModels
@model CourseViewModel

@{
    ViewData["Title"] = "Detail";
}

<head>
    <meta charset="utf-8" />
    <title>Detail of the course</title>
    <link rel="stylesheet" href="~/css/entity-details.css" />
</head>

<hr />
<h4>Course Detail</h4>
<dl class="details-container">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
</dl>

<form asp-controller="Group" asp-action="Create" method="get">
    <input type="hidden" name="CourseId" value="@Model.Id" />
    <input type="submit" value="Create new group" class="btn btn-primary" />
</form>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped">
        <caption>List of groups</caption>
        <thead>
            <tr>
                <th><a asp-action="Details" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Id</a></th>
                <th><a asp-action="Details" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a></th>
                <th>Course Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Mygroups)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.CourseID)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning me-1">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info me-1">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    var groupList = Model.Mygroups;
    var prevDisabled = !groupList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !groupList.HasNextPage ? "disabled" : "";
}

<ul class="pagination">
    <li class="page-item">
        <a asp-action="Details"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(groupList.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="page-link @prevDisabled">
            Previous
        </a>
    </li>

    <li class="@(groupList.PageIndex == 1 ? "page-item active" : "page-item")">
        <a asp-action="Details"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="1"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="page-link">
            1
        </a>
    </li>

    @if (groupList.TotalPages > 3 && groupList.PageIndex > 3)
    {
        <p> . . . </p>
    }

    @if (groupList.TotalPages > 3 && groupList.PageIndex > 2 && groupList.PageIndex < groupList.TotalPages)
    {
        <li>
            <a asp-action="Details"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(groupList.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link">
                @(groupList.PageIndex - 1)
            </a>
        </li>
    }

    @if (groupList.TotalPages > 2)
    {
        <li class="@((groupList.PageIndex > 1 && groupList.PageIndex < groupList.TotalPages) ? "page-item active" : "page-item")">
            <a asp-action="Details"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(groupList.PageIndex == 1 ? groupList.PageIndex + 1 : groupList.PageIndex != groupList.TotalPages ? groupList.PageIndex : groupList.TotalPages - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link">
                @(groupList.PageIndex == 1 ? groupList.PageIndex + 1 : groupList.PageIndex != groupList.TotalPages ? groupList.PageIndex : groupList.TotalPages - 1)
            </a>
        </li>
    }

    @if (groupList.TotalPages > 3 && groupList.PageIndex < groupList.TotalPages - 1 && groupList.PageIndex > 1)
    {
        <li>
            <a asp-action="Details"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(groupList.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link">
                @(groupList.PageIndex + 1)
            </a>
        </li>
    }

    @if (groupList.TotalPages > 3 && groupList.PageIndex < groupList.TotalPages - 2)
    {
        <p> . . . </p>
    }

    @if (groupList.TotalPages > 1)
    {
        <li class="@(groupList.PageIndex == groupList.TotalPages ? "page-item active" : "page-item")">
            <a asp-action="Details"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@groupList.TotalPages"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link">
                @(groupList.TotalPages)
            </a>
        </li>
    }

    <li>
        <a asp-action="Details"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(groupList.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="page-link @nextDisabled">
            Next
        </a>
    </li>
</ul>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-warning me-1">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger">Delete</a>
    <a asp-action="Index" class="btn btn-sm btn-info me-1">Back to List</a>
</div>
